SET CHLAUTH('*') TYPE(ADDRESSMAP) ADDRESS('*') USERSRC(NOACCESS) DESCR('lock all') ACTION(REPLACE) 
SET CHLAUTH({{ mq_channel_bma }}) TYPE(ADDRESSMAP) ADDRESS(*) USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_bma }}) TYPE(BLOCKUSER) USERLIST(*none) ACTION(REPLACE)
ALTER AUTHINFO(SYSTEM.DEFAULT.AUTHINFO.IDPWOS) AUTHTYPE(IDPWOS) ADOPTCTX(YES) CHCKCLNT(OPTIONAL)
REFRESH SECURITY TYPE(CONNAUTH)
SET CHLAUTH({{ mq_channel_main }}) TYPE(USERMAP) CLNTUSER({{ connecting_user }}) USERSRC(MAP) MCAUSER({{ connecting_user }}) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.13.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.12.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.14.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.129.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.130.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.131.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.132.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.134.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.135.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.32.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.33.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.34.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.35.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('10.36.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('172.17.*') USERSRC(CHANNEL) ACTION(REPLACE)
SET CHLAUTH({{ mq_channel_main }}) TYPE(ADDRESSMAP) ADDRESS('172.22.*') USERSRC(CHANNEL) ACTION(REPLACE)
REFRESH SECURITY (*)
END
